.user-profile {
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    position: relative; /* floating "+LOG" */
}

.log-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eeca6f;
    color: white;
    font-size: 1rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 10;
}

.log-button:hover {
    background-color: #c5a75c;
}

.section-divider {
    border: none;
    height: 2px;
    background: #ddd;
    margin: 30px auto;
    width: 80%;
}

.default-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}